* {
  color: #3e3e3e;
  position: relative;
  text-decoration: none;
}

body {
  min-width: 20rem;
  position: relative;
  overflow-y: scroll;
  background-color: #f5f5f5;
  font-style: normal;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-stretch: normal;
  text-align: center;
}

b, body, em, form, h1, h2, h3, h4, h5, h6, hr, i, label, li, ol, p, strong, ul {
  margin: 0;
  margin-top: 0rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
  padding: 0;
  border: 0;
}

*, :after, :before {
  box-sizing: border-box;
}

/*div {
  display: block;
}*/

*, :after, :before {
  box-sizing: border-box;
}

/*---HOME HEADER----------*/
header {
  background-color: #eaf4f7;
  padding-bottom: 15.625rem;
  justify-content: space-between;
  
  display: flex;
}

ul, li {
  list-style-type: none;
  text-align: left;
}

.navigation {
  display: flex;
  padding-top: 0.525rem;
}

.header-soc-media {
  display: flex;

}

/**/
.dropdown-content + .dropdown-content-url{
  position: relative;
  display: inline-block;
}
/*dropdown box*/
.dropdown-extensive-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: white;
  min-width: 150px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  /*z-index: 1;*/
  border-top: 4px solid #ea5822;
}

.dropdown-extensive-content a {
  color: inherit;
  padding: 12px 16px;
  display: block;
}

.dropdown-extensive-content a:hover {
  background-color: #ea5822;
  color: #ffffff;
}

.dropdown-content:hover .dropdown-extensive-content {
  display: block;
}

.dropdown-btn {
  border: none;
  background-color: inherit;
  font-weight: bold;
}

.dropdown-content:hover .dropdown-btn {
  color: #ea5822;
}

.dropdown-content-url:hover .dropdown-btn {
  color: #ea5822;
}

h1 {
  font-size:  3rem;
  padding-top: 2rem;
}

h2 {}

h3 {}

h4 {
  font-size: inherit;
  text-align: inherit;
  color: rgba(248, 123, 7, 0.623);
  top: 1.25rem;
}

.home-hat{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  display: flex;
}

.home-hat >a {
  text-align: center;
}

.home-rel-adress {
  font-size: 3rem;
  margin: auto;
}

.header-content > h4{
  text-align: 7.25rem;
}

.search-bar {
  background-color: white;
  border: none;

}
.search {
  background-color: white;
  border: none;
  padding: 18px 150px;
}
/*   SEARCHING BUTTON WITH  MAGNIFYING GLASS */
.submit {
  border: none;
  padding: 14px 14px;
  background-color: rgba(238, 94, 11, 0.836);
}

.search-bar button:hover{
  background-color: rgba(255, 136, 0, 0.979);
}

.fa-search {
  color: white;
}

.support {
  display: flex;
}

.home-boxes {
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  margin: auto;
  display: flex;
}

.home-boxes-describe {
  background-color: white;
  box-shadow: 0px 8px 16px 0px #0000000c;;
  padding: auto;
  width: 150px;
  height: 80px;
  top: 50%;
  left: 25%;
  margin-left: 20px;
  margin-top: -70px;
}
.home-boxes-describe > img{
  height: 70%;
  width: auto;
  top: 50%;
  justify-content: center;
}

.home-boxes-describe  b{
  color: rgba(238, 94, 11, 0.836);
  font-size: 20px;
  text-align: center;
  padding: auto;
}

.col-weig-4{
  display: flex;
  flex-wrap: wrap;
}

/* HEADER IMAGE*/

.header-image{
  background-image: url("../Image/people-build.jpeg");
  padding-bottom: 16.625rem;
  min-width: 20rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  position: relative;
  
}

.header-top-h1 >h1 {
  color: #ffffff;
  text-align: center;
}

@media (max-width: 50em) {
  .extensive_navigation {flex-direction: column;}
  .extensive_navigation i{visibility: hidden;}
  .extensive_dropdown_menu {overflow: visible;}
}